# PlatformIO
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
app/build/

# Android
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig

# Editors & IDEs
.vscode/
.idea/
*.iml
*.ipr
*.iws

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
*.tmp
